<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            font-family: sans-serif;
        }
        a {
          
            background-color: gray;
            padding: 10px 20px;
            color: white;
            text-decoration: none;
        }
        @media (max-width:600px){
            h1{
                font-size: 1.2rem;
            }
        }
    </style>
</head>

<body>
    <div>
        <h1>Email address which you entered existing. Please verify again</h1>
        <a href="/index">Go back</a>
    </div>
</body>

</html>